@model QuanLyChiTieu_WebApp.ViewModels.CreateTicketViewModel
@{
    ViewBag.Title = "Tạo yêu cầu";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/asset/css/createTicket.css" />
}
<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-4 page-title">
                            <div class="page-title-content">
                                <h3>Tạo yêu cầu</h3>
                                <p class="mb-2">Chào mừng đến với Ekash</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="breadcrumbs">
                                <a asp-controller="Settings" asp-action="Support">Hỗ trợ</a>
                                <span><i class="fi fi-rr-angle-small-right"></i></span>
                                <a asp-controller="Settings" asp-action="CreateTicket">Tạo yêu cầu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Tạo yêu cầu</h4>
                        <a asp-controller="Settings" asp-action="Support" class="btn btn-danger">Hủy</a>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Settings" asp-action="CreateTicket" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
                            <div class="mb-3">
                                <label class="form-label">Bạn cần hỗ trợ về vấn đề gì?</label>
                                <select asp-for="QuestionType" class="form-select">
                                    <option value="">-- Chọn danh mục --</option>
                                    <option>Thu nhập</option>
                                    <option>Rút tiền</option>
                                    <option>Hồ sơ cá nhân</option>
                                    <option>Vấn đề chung</option>
                                    <option>Khác</option>
                                </select>
                                <span asp-validation-for="QuestionType" class="text-danger"></span>
                            </div>

                            @* Các phần comment mình giữ nguyên code nhưng nếu mở ra thì bạn sửa text trong <option> nhé *@
                            @* <div class="mb-3">
                                <label class="form-label">Phản hồi của nhân viên</label>
                                <select asp-for ="RespondType" class="form-select">
                                    <option value="">-- Chọn loại --</option>
                                    <option>Thu nhập</option>
                                    <option>Rút tiền</option>
                                    <option>Hồ sơ</option>
                                    <option>Chung</option>
                                    <option>Khác</option>
                                </select>
                                <span asp-validation-for="RespondType" class="text-danger"></span>
                            </div> *@

                            <div class="mb-3">
                                <label class="form-label">
                                    Vui lòng mô tả chi tiết vấn đề bạn đang gặp phải
                                </label>
                                <textarea asp-for="Description" rows="5" class="form-control" placeholder="Nhập nội dung yêu cầu..."></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>