@model QuanLyChiTieu_WebApp.ViewModels.SupportViewModel
@{
    ViewBag.Title = "Support";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/asset/css/support.css" />
}
<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-4 page-title">
                            <div class="page-title-content">
                                <h3>Support</h3>
                                <p class="mb-2">Welcome Ekash Finance Management</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="breadcrumbs">
                                <a asp-controller="Settings" asp-action="Profile">Settings </a>
                                <span><i class="fi fi-rr-angle-small-right"></i></span>
                                <a asp-controller="Settings" asp-action="Support">Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 col-xl-12">
                <div class="settings-menu">
                    <a asp-controller="Settings" asp-action="Profile">Profile</a>
                    <a asp-controller="Settings" asp-action="Category">Categories</a>
                    <a asp-controller="Settings" asp-action="Support" class="active">Support</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Your Ticket</h4>
                        <a asp-controller="Settings" asp-action="CreateTicket" class="btn btn-primary">Create Ticket</a>
                    </div>

                    <div class="card-body">
                        @if (Model.MyTickets.Any())
                        {
                            <div class="ticket-list">
                                @foreach (var ticket in Model.MyTickets)
                                {
                                    <a href="#">
                                        <div>
                                            <h5>
                                                @ticket.QuestionType: @ticket.Description.Substring(0, Math.Min(ticket.Description.Length, 50))...

                                                @if (ticket.Status == "Open")
                                                {
                                                    <span class="badge badge-success">OPEN</span>
                                                }
                                                else if (ticket.Status == "Pending")
                                                {
                                                    <span class="badge badge-warning">PENDING</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">RESOLVED</span>
                                                }
                                            </h5>
                                            <p>Posted on @ticket.CreatedAt.ToString("dd MMMM yyyy")</p>
                                        </div>
                                        <span><i class="fi fi-ss-angle-right"></i></span>
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="height-200 d-flex align-items-center justify-content-center ticket">
                                <p class="mt-5">
                                    You have no ticket yet!
                                    Create one by hitting the <a asp-controller="Settings" asp-action="CreateTicket" class="text-primary">
                                        Create
                                        Ticket
                                    </a>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>