@model QuanLyChiTieu_WebApp.ViewModels.SupportViewModel
@{
    ViewBag.Title = "Support";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/asset/css/support.css" />
}
<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-4 page-title">
                            <div class="page-title-content">
                                <h3>Hỗ trợ</h3>
                                <p class="mb-2">Chào mừng đến với Ekash</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="breadcrumbs">
                                <a asp-controller="Settings" asp-action="Profile">Cài đặt </a>
                                <span><i class="fi fi-rr-angle-small-right"></i></span>
                                <a asp-controller="Settings" asp-action="Support">Hỗ trợ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 col-xl-12">
                <div class="settings-menu">
                    <a asp-controller="Settings" asp-action="Profile">Hồ sơ</a>
                    <a asp-controller="Settings" asp-action="Category">Danh mục</a>
                    <a asp-controller="Settings" asp-action="Support" class="active">Hỗ trợ</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Yêu cầu của bạn</h4>
                        <a asp-controller="Settings" asp-action="CreateTicket" class="btn btn-primary">Tạo yêu cầu</a>
                    </div>

                    <div class="card-body">
                        @if (Model.MyTickets.Any())
                        {
                            <div class="ticket-list">
                                @foreach (var ticket in Model.MyTickets)
                                {
                                    <a asp-controller="MyTickets" asp-action="Index">
                                        <div>
                                            <h5>
                                                @ticket.QuestionType: @ticket.Description.Substring(0, Math.Min(ticket.Description.Length, 50))...

                                                @if (ticket.Status == "Open")
                                                {
                                                    <span class="badge badge-success">OPEN</span>
                                                }
                                                else if (ticket.Status == "Pending")
                                                {
                                                    <span class="badge badge-warning">PENDING</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">RESOLVED</span>
                                                }
                                            </h5>
                                            <p>Posted on @ticket.CreatedAt.ToString("dd MMMM yyyy")</p>
                                        </div>
                                        <span><i class="fi fi-ss-angle-right"></i></span>
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="height-200 d-flex align-items-center justify-content-center ticket">
                                <p class="mt-5">
                                    Bạn chưa có  đơn yêu cầu nào
                                    Bắt đầu bằng cách nhấn nút <a asp-controller="Settings" asp-action="CreateTicket" class="text-primary">
                                        Tạo yêu cầu
                                    </a>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        var successMessage = '@Html.Raw(TempData["SuccessMessage"])';

        if (successMessage && successMessage.trim() !== '') {
            Swal.fire({
                icon: 'success',
                title: 'Tạo Ticket Thành Công!',
                text: successMessage,
                showConfirmButton: false,
                timer: 4000
            });
        }
    </script>
}