.page-title {
    margin-bottom: 30px;
    background: transparent;
    border-radius: 6px;
}

    .page-title h3 {
        color: var(--text-title) !important;
    }

    .page-title .page-title-content h3,
    .page-title .page-title-content .h3 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .page-title .page-title-content p {
        color: var( --text-muted-color);
    }

.settings-menu {
    margin-bottom: 30px;
}

    .settings-menu a {
        display: inline-block;
        margin-right: 20px;
        color: var( --text-muted-color) !important;
        font-size: 16px;
        text-decoration: none;
    }

.breadcrumbs a {
    color: var( --text-muted-color);
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

.breadcrumbs.active a {
    color: #fff;
}

.breadcrumbs i {
    margin: 0px 10px;
    font-size: 20px;
    line-height: 0;
    position: relative;
    top: 5px;
    color: var( --text-muted-color);
}

.settings-menu a:hover,
.settings-menu a:focus,
.settings-menu a:active,
.settings-menu a.active {
    color: #1816b9 !important;
}
.card {
    margin-bottom: 30px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
}

.card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 0px solid rgb(229, 234, 239);
    background-color: var(--bg-color) !important;
    padding: 20px 20px 0px;
}

@media only screen and (max-width: 767px) {
    .card-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }
}

.card-title {
    font-size: 18px;
    margin-bottom: 0px;
    color: var(--text-title) !important;
}

.card.transparent {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
}

    .card.transparent .card-header {
        border: 0px;
        padding: 0px;
    }

    .card.transparent .card-body {
        padding: 0px;
    }

.card .card-body {
    padding: 20px;
    background-color: var(--bg-color) !important;
    color: var( --text-muted-color);
}

.form-label {
    color: var( --text-muted-color);
}
.ticket-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 234, 239);
    color: var(--text-title) !important;
    text-decoration: none;
}

    .ticket-list a:last-child {
        margin-bottom: 0px;
        border: 0px;
    }

    .ticket-list a h5,
    .ticket-list a .h5 {
        margin-bottom: 3px;
    }

    .ticket-list a p {
        margin-bottom: 0px;
        color: var( --text-muted-color);
    }

    .ticket-list a:hover h5,
    .ticket-list a:hover .h5,
    .ticket-list a:hover i {
        color: #2f2cd8;
    }
.card-body p a{
    text-decoration: none;
}
.card-header a{
    text-decoration: none;
}
