 @{

ViewData["Title"] = "Goals";

}

@section Styles {

<link rel="stylesheet" href="~/asset/css/Goals.css"/>

@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">



}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        // Đợi cho trang tải xong (sử dụng cú pháp của jQuery)
        $(document).ready(function() {

            // --- 1. Xử lý active state cho goals-nav ---


            // --- 2. Kích hoạt lịch flatpickr ---
            // Đảm bảo selector của bạn đúng, ở đây là #goal-datepicker
            flatpickr("#goal-datepicker", {
                wrap: true, // Quan trọng để click vào icon
                dateFormat: "d-m-Y",
            });

        });
    </script>
}

<div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Goals</h3>
                                        <p class="mb-2">Welcome Ekash Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto mb-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0  ">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Goals</li>
                            </ol>
                        </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="goals-tab">
                    <div class="row g-0">
                        <div class="col-xl-3">
                            <div class="nav d-block" role="tablist">
                                <div class="row">
                                    <div class="col-xl-12 col-md-6">
                                        <div class="goals-nav active"  data-bs-toggle="pill" data-bs-target="#a1" aria-selected="true" role="tab">
                                            <div class="goals-nav-circle">
                                                <div id="circle5"><canvas width="75" height="75" style="height: 50px; width: 50px;"></canvas></div>
                                                <span class="percent-goal">20%</span>
                                            </div>
                                            <div class="goals-nav-text">
                                                <h3>Car</h3>
                                                <p><strong>$1458.30</strong> / $4580.85</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-6">
                                        <div class="goals-nav"data-bs-toggle="pill" data-bs-target="#a2" aria-selected="false" tabindex="-1" role="tab">
                                            <div class="goals-nav-circle">
                                                <div id="circle6"><canvas width="75" height="75" style="height: 50px; width: 50px;"></canvas></div>
                                    <span class="percent-goal">20%</span>
                                            </div>
                                            <div class="goals-nav-text">
                                                <h3>Laptop</h3>
                                                <p><strong>$1458.30</strong> / $4580.85</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-6">
                                        <div class="goals-nav"data-bs-toggle="pill" data-bs-target="#a3" aria-selected="false" tabindex="-1" role="tab">
                                            <div class="goals-nav-circle">
                                                <div id="circle7"><canvas width="75" height="75" style="height: 50px; width: 50px;"></canvas></div>
                                    <span class="percent-goal">20%</span>
                                            </div>
                                            <div class="goals-nav-text">
                                                <h3>Vacation</h3>
                                                <p><strong>$1458.30</strong> / $4580.85</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-6">
                                        <div class="goals-nav"data-bs-toggle="pill" data-bs-target="#a4" aria-selected="false" tabindex="-1" role="tab">
                                            <div class="goals-nav-circle">
                                                <div id="circle8"><canvas width="75" height="75" style="height: 50px; width: 50px;"></canvas></div>
                                    <span class="percent-goal">20%</span>
                                            </div>
                                            <div class="goals-nav-text">
                                                <h3>Phone</h3>
                                                <p><strong>$1458.30</strong> / $4580.85</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-goals-link" data-bs-toggle="modal" data-bs-target="#addGoalModal">
                                <h5 class="mb-0">Add new goals</h5>
                                <a href="add-new-account.html">
                                    <i class="fi fi-rr-square-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9">
                            <div class="tab-content goals-tab-content">
                                <div class="tab-pane show active" id="a1" role="tabpanel">
                                    <div class="goals-tab-title">
                                        <h3>Car</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between card-save">
                                                        <div>
                                                            <span>Saved</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                        <div class="text-end">
                                                            <span>Goals</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 25%;" role="progressbar">
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between mt-2 card-save">
                                                        <span>25%</span>    
                                                        <span>75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Last Month</p>
                                                                <h3>$42,678</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Expenses</p>
                                                                <h3>$1,798</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Taxes</p>
                                                                <h3>$255.25</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Debt</p>
                                                                <h3>$365,478</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Available by Wallet</h4>
                                                </div>
                                                <div class="card-body available-wallet">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-yellow-500"><i class="fi fi-rr-bank"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">City Bank</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 75%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-indigo-500"><i class="fi fi-rr-money-bills-simple"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Cash Wallet</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-purple-500"><i class="fi fi-rr-credit-card"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Visa Card</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">History </h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table mb-0 table-responsive-sm goals-history-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>wallet</th>
                                                                    <th>Description</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="a2" role="tabpanel">
                                    <div class="goals-tab-title">
                                        <h3>Laptop</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between card-save">
                                                        <div>
                                                            <span>Saved</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                        <div class="text-end">
                                                            <span>Goals</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 25%;" role="progressbar">
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between mt-2 card-save">
                                                        <span>25%</span>
                                                        <span>75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Last Month</p>
                                                                <h3>$42,678</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Expenses</p>
                                                                <h3>$1,798</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Taxes</p>
                                                                <h3>$255.25</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Debt</p>
                                                                <h3>$365,478</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Available by Wallet</h4>
                                                </div>
                                                <div class="card-body available-wallet">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-yellow-500"><i class="fi fi-rr-bank"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">City Bank</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 75%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-indigo-500"><i class="fi fi-rr-money-bills-simple"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Cash Wallet</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-purple-500"><i class="fi fi-rr-credit-card"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Visa Card</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">History </h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table mb-0 table-responsive-sm goals-history-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>wallet</th>
                                                                    <th>Description</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="a3" role="tabpanel">
                                    <div class="goals-tab-title">
                                        <h3>Vacation</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between card-save">
                                                        <div>
                                                            <span>Saved</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                        <div class="text-end">
                                                            <span>Goals</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 25%;" role="progressbar">
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between mt-2 card-save">
                                                        <span>25%</span>
                                                        <span>75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Last Month</p>
                                                                <h3>$42,678</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Expenses</p>
                                                                <h3>$1,798</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Taxes</p>
                                                                <h3>$255.25</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Debt</p>
                                                                <h3>$365,478</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Available by Wallet</h4>
                                                </div>
                                                <div class="card-body available-wallet">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-yellow-500"><i class="fi fi-rr-bank"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">City Bank</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 75%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-indigo-500"><i class="fi fi-rr-money-bills-simple"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Cash Wallet</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-purple-500"><i class="fi fi-rr-credit-card"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Visa Card</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">History </h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table mb-0 table-responsive-sm goals-history-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>wallet</th>
                                                                    <th>Description</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="a4" role="tabpanel">
                                    <div class="goals-tab-title">
                                        <h3>Phone</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between card-save">
                                                        <div>
                                                            <span>Saved</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                        <div class="text-end">
                                                            <span>Goals</span>
                                                            <h3>$1458.30</h3>
                                                        </div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 25%;" role="progressbar">
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between mt-2 card-save">
                                                        <span>25%</span>
                                                        <span>75%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Last Month</p>
                                                                <h3>$42,678</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Expenses</p>
                                                                <h3>$1,798</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Taxes</p>
                                                                <h3>$255.25</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                                            <div class="goals-widget">
                                                                <p>Debt</p>
                                                                <h3>$365,478</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Available by Wallet</h4>
                                                </div>
                                                <div class="card-body available-wallet">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-yellow-500"><i class="fi fi-rr-bank"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">City Bank</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar" role="progressbar" style="width: 75%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-indigo-500"><i class="fi fi-rr-money-bills-simple"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Cash Wallet</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-grow-2 goals-wallet-progress">
                                                            <div class="goals-icon">
                                                                <span class="bg-purple-500"><i class="fi fi-rr-credit-card"></i></span>
                                                            </div>
                                                            <div class="goals-info flex-grow-2 me-3">
                                                                <div class="d-flex justify-content-between mb-1">
                                                                    <h5 class="mb-1">Visa Card</h5>
                                                                    <p class="mb-0">150$</p>
                                                                </div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">History </h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table mb-0 table-responsive-sm goals-history-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>wallet</th>
                                                                    <th>Description</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><i class="fi fi-rr-calendar"></i></span> 29 Jan 2024</td>
                                                                    <td><span><i class="fi fi-rr-credit-card"></i></span> Master Card</td>
                                                                    <td>Necessities</td>
                                                                    <td>
                                                                        <h5>+100.00$</h5>
                                                                        <span>12.368$</span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="addGoalModal" tabindex="-1" aria-labelledby="addGoalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGoalModalLabel">Thêm Mục Tiêu Mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>

            <div class="modal-body">
                <form id="addGoalForm"> <div class="mb-3">
                        <label for="goalNameInput" class="form-label">Tên mục tiêu</label>
                        <input type="text" class="form-control" id="goalNameInput" placeholder="Ví dụ: Mua Laptop mới, Du lịch..." required>
                    </div>

                    <div class="mb-3">
                        <label for="goalTargetAmountInput" class="form-label">Số tiền cần đạt</label>
                        <input type="number" class="form-control" id="goalTargetAmountInput" placeholder="0" required min="0">
                    </div>

                        <div class="mb-3">
                            <label for="goalTargetDateInput" class="form-label">Ngày dự kiến hoàn thành (Tùy chọn)</label>
                            <div class="input-group input-group-lg date" id="goal-datepicker" data-wrap>
                                <input type="text" id="goalTargetDateInput" name="TargetDate" class="form-control" placeholder="Chọn ngày..." data-input>
                                <span class="input-group-text" data-toggle>
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>


                        <div class="mb-3">
                        <label for="goalInitialAmountInput" class="form-label">Số tiền đã có (Tùy chọn)</label>
                        <input type="number" class="form-control" id="goalInitialAmountInput" placeholder="0" min="0">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" form="addGoalForm">Lưu Mục Tiêu</button> </div>
        </div>
    </div>
</div>
            </div>